{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/bootstrap-toggle-buttons.css">
{% endblock %}


{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h1>LED Controller</h1>
        <table class="table" style="width:auto;">
            {% for g in gpio_config %}
            <tr>
                <td>
                    GPIO pin {{ g.gpio }}:
                </td>
                <td>
                    <div class="gpio-toggle" id="toggle-button-gpio{{ g.gpio }}" data-gpio="{{ g.gpio }}">
                        <input type="checkbox"{% if g.mode %} checked="checked"{% endif %}>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/jquery.toggle.buttons.js"></script>
<script type="text/javascript">
{% for g in gpio_config %}
    $('#toggle-button-gpio' + {{ g.gpio }}).toggleButtons({
        onChange: function ($el, status, e) {
            //console.log(status);
            //console.log($($el).parent().data("gpio"));
            var pinmode;
            if (status==true) {
                pinmode = 1
            }
            else {
                pinmode = 0
            };
            $.post("/gpio_mode", {gpio: {{ g.gpio }}, mode: pinmode},
                function(data) {
                    console.log(data);
                }
            )
        }
    });
{% endfor %}
</script>
{% endblock %}
